<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Pastebin.com - #1 paste tool since 2002!</title>
  <link rel="shortcut icon" href="/favicon.ico">

  <link href="/i/select2.min.css" rel="stylesheet" th:href="@{/css/select2.min.css}">
  <link href="/i/pastebin.min.v9.css?1588178291" rel="stylesheet" type="text/css" th:href="@{/css/pastebin.min.v9.css}">
  <style>
    body {
      -webkit-text-size-adjust: none;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=1.0, user-scalable=yes">
</head>
<body>

<div id="main_frame" th:with="create=${content eq null}">
  <div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-anchor-right jq-dropdown-scroll">
    <ul class="jq-dropdown-menu">

      <li onclick="location.href='/signup'" class="dd_su">Sign Up</li>
      <li onclick="location.href='/login'" class="dd_lo">Login</li>
      <li class="lih_div"></li>
      <li onclick="location.href='/api'" class="lih_640">API</li>
      <li onclick="location.href='/faq'" class="lih_640">FAQ</li>
      <li onclick="location.href='/tools'" class="lih_640">Tools</li>
      <li onclick="location.href='/archive'" class="lih_640">Archive</li>
    </ul>
  </div>
  <div id="header">
    <div id="header_wrap">
      <div id="header_top">
        <div id="header_logo" onclick="location.href='/'">PASTEBIN</div>
      </div>
    </div>
  </div>
  <div id="super_frame">
    <div id="monster_frame">
      <div id="content_frame">
        <div id="content_right">

          <div id="abrpm2"></div>

          <div>
            <div id="div-gpt-ad-1593095572267-0">
            </div>
          </div>
          <div class="layout_clear"></div>

        </div>
        <div id="content_left">
          <div id="ie_msg"></div>
          <div class="banner_728" id="banner_728">
            <div id="gpt-passback">
            </div>
          </div>
          <div class="layout_clear"></div>

          <div class="content_title no_border">
            New Paste <span><span id="draft_message"></span> <span id="draft_clear">delete draft</span></span>
          </div>

          <form th:id="form"
                th:action="${create} ? @{${T(kr.co.zipdoc.pastebin.common.util.UriUtils).removeEndSlash(#mvc.url('PC#create').build())}} : ''">
            <div class="textarea_border">
              <textarea name="content" class="paste_textarea" rows="10" id="content"
                        th:id="'content'"
                        th:name="'content'"
                        th:text="${create} ? '' : ${content.resource.content}"
                        th:disabled="${!create}"
                        th:style="${!create} ? 'background: #eee;' : ''"></textarea>
            </div>
            <div class="content_title">Optional Paste Settings</div>
            <div class="form_frame_left">

              <div class="form_frame">
                <div class="form_left">
                  Paste Expiration:
                </div>
                <div class="form_right">
                  <select class="post_select select2_nosearch" name="expiration"
                          th:name="'expiration'"
                          th:id="expiration"
                          th:disabled="${!create}"
                          th:remove="all-but-first">
                    <option value=""
                            th:each="expiration, iterStat : ${T(kr.co.zipdoc.pastebin.domain.enumeration.Expiration).values()}"
                            th:value="${expiration.code}"
                            th:text="${expiration.description}"
                            th:selected="${create} ? ${iterStat.first} : ${content.resource.expiration eq expiration}"
                    >02</option>
                    <option value="N" selected="selected">Never</option>
                    <option value="10M">10 Minutes</option>
                    <option value="1H">1 Hour</option>
                    <option value="1D">1 Day</option>
                    <option value="1W">1 Week</option>
                    <option value="2W">2 Weeks</option>
                    <option value="1M">1 Month</option>
                    <option value="6M">6 Months</option>
                    <option value="1Y">1 Year</option>
                  </select>
                </div>
              </div>

              <div class="form_frame">
                <div class="form_left">
                  Paste Name / Title:
                </div>
                <div class="form_right">
                  <input type="text" name="paste_name" size="20" maxlength="255" value="" class="post_input"
                         th:value="${create} ? '' : ${content.resource.title}"
                         th:name="'title'" th:disabled="${!create}"
                         th:style="${!create} ? 'background: #eee;' : ''">
                </div>
              </div>
              <div class="form_frame" th:if="${create}">
                <div class="form_left">
                  &nbsp;
                </div>
                <div class="form_right">
                  <button value="Create New Paste" id="submit_button" class="button1 btnbig" th:id="'submit_button'">Create New Paste</button>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>
</body>
<script src="../../../static/js/lib/jquery-1.11.3.min.js" th:src="@{/js/lib/jquery-1.11.3.min.js}"></script>
<script src="../../../static/js/content/paste-view.min.js" th:src="@{/js/content/paste-view.min.js}"></script>
</html>